@import url(https://fonts.googleapis.com/css?family=Lato:100,300,400);
.loader-container {
  font-family: lato, helvetica, arial, sans-serif;
}
.loader-container h2{
  color: #fff !important;
  font-weight: 100;
  text-align: center;
  font-size: 32px;
  padding: 0px;
}

.loader-container .block {
  width: 100vw;
  /* padding: 80px 0; */
  background: #1D1B34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}
.loader-container .block-in {
  width: 300px;
  margin: 80px auto;
  overflow: hidden;
}


/*------------------------------------------------------------------------------
Gear Loader  / prefixfree
---------------------------------------------------------------------------------*/

.loader-container .gear {
  width: 80px;
  height: 80px;
  border-radius: 10%;
  margin-bottom: 20px;
  border: 5px solid #fff;
  /* border: 5px solid #DBA62; */
  position: relative;
  box-shadow: 0 10px 0 0 rgba(0, 0, 0, 0.1);

}

.loader-container .gear:after {
  content: "";
  width: 100px;
  height: 100px;
  border-radius: 100%;
  display: block;
  border: 5px dashed #fff;
  position: absolute;
  top: -24px;
  left: -24px;
  box-shadow: inset 0px 0 0 20px #fff;
  transform: scale(0.5) rotate(0deg);
  animation: gear 6s linear infinite;
}

.loader-container .gear:before {
  content: "";
  width: 58px;
  height: 58px;
  border-radius: 100%;
  display: block;
  border: 5px dashed #fff;
  position: absolute;
  top: 26px;
  right: -14px;
  box-shadow: inset 0px 0 0 10px #fff;
  transform: scale(0.5) rotate(0deg);
  animation: gear2 4s linear infinite;
}


@keyframes gear {
  0% {
    transform: scale(0.5) rotate(0deg);
  }
  100% {
    transform: scale(0.5) rotate(360deg);
  }
}

@keyframes gear2 {
  0% {
    transform: scale(0.5) rotate(0deg);
  }
  100% {
    transform: scale(0.5) rotate(-360deg);
  }
}
