.scroll-btn-container{
    height: 30px;
    width: 30px;
    background-color: red;
    position: absolute;
    right: 35px;
    bottom: 35px;
    position: fixed;
    display: none;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    padding: 2px;
    cursor: pointer;
}
.scroll-btn-container img{
    height: 50px;
    width: 50px;
    transform: rotate(180deg);
}
@media only screen and (min-width:200px) and (max-width:1000px) {
    .scroll-btn-container{
        height: 20px;
        width: 20px;
    }
    .scroll-btn-container img{
        height: 40px;
        width: 40px;
        transform: rotate(180deg);
    }
}